head{text-align: center;}
body{background-color:#F8F363; text-align: center;}
h1{background-color:#DAD66F; font-size: 1.7em; text-align: center;}
h2{background-color:#DAD66C; font-size: 1.4em; text-align: center;}
p{font-size: 1.2em;}

h1, h2 {
    padding: 5px;
    margin: 10px;
    width: fit-content;
  }
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: square;
  margin: 0;
  padding: 0;
  width: fit-content;
  }
    
.flex-item {
  background: tomato;
  color: white;
  font-weight: bold;
  font-size: 2em;
  height: 50px;
  line-height: 40px;
  list-style-type: "\1F44D";
  list-style-position: inside;
  margin-top: 10px;
  padding : 5px;
  text-align: center;
  width: auto;
}

.flex-item-receipe {
  background: tomato;
  color: white;
  font-weight: bold;
  font-size: 2em;
  height: 50px;
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
  margin-top: 10px;
  padding : 5px;
  text-align: center;
  width: auto;
}

nav {
  background: #a5dd65;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0;
  list-style: none;
  text-align: center;
  width: fit-content;
  }
nav a {
  color: #1d631d;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.2em;
  text-decoration: none;
  }
nav a:hover {
  color: white;
  }
  