body{background-color:#F8F363;}
h1{background-color:#DAD66F; font-size: 1.7em;}
h2{background-color:#DAD66C; font-size: 1.5em;}
p{font-size: 1.4em;}

.steps {
  background-image: url("images/LinedPaper.jfif");
  background-size: auto;
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  margin:20px;
  padding: 20px;
  width: fit-content;
}

.item1 { grid-area: header; text-align: center;}
.item2 { grid-area: nav; text-align: center; }
.item3 { grid-area: section; }
.item4 { grid-area: aside; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'nav nav'
    'section aside'
    'footer footer';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.list-container {
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: fit-content;
  }
    
.equipment-item {
  background: tomato;
  color: white;
  font-weight: bold;
  font-size: 10px;
  height: 50px;
  line-height: 40px;
  list-style-type: "\1F44D";
  list-style-position: inside;
  margin-top: 10px;
  padding : 5px;
  text-align: center;
  width: auto;
}

.recipe-item {
  background: tomato;
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
  margin: 10px;
  padding : 5px;
  text-align: center;
  width: auto;
}

nav {
  background: #a5dd65;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0;
  list-style: none;
  text-align: center;
  width: fit-content;
  }
nav a {
  color: #1d631d;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  }
nav a:hover {
  color: white;
  }
  