body{background-color:#F8F363;}

h1{
  background-color:#DAD66F;
  font-size: 2.5em;
  padding: 10px;
  text-shadow: 2px 2px 2px #bbbbbb;
}

h2{
  background-color:#DAD66C; 
  font-size: 1.5em;
}

p{
  font-size: 1.4em;
}

#SandwichCake {
  background-color: white;
  margin: 40px;
  padding: 20px;
  transform: rotate(-7.5deg);

}
#versions {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 6%;
  padding-left: 6%;
  padding-right: 20px;
  text-align: justify;
  text-decoration: underline; 
}

.steps {
  background-image: url("images/LinedPaper.jfif");
  background-size: 100%;
  height: 85%;
  margin-left: 5%;
  list-style-type: none;
  padding-top: 80px;
  padding-left: 8%;
  padding-right: 20px;
  padding-bottom: 50px;
  width: fit-content;
}

.steps-item {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 6%;
  margin-top: 20px;
  padding-left: 6%;
  padding-right: 20px;
  text-align: justify;
}

.item1 { 
  grid-area: header;
}
.item2 { 
  grid-area: nav;
}
.item3 { grid-area: section; }
.item4 { grid-area: aside; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'nav nav'
    'section aside'
    'footer footer';
  gap: 10px;
  padding: 10px;
  text-align: center; 
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.list-container {
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: fit-content;
  }
    
.equipment-item {
  background: tomato;
  color: white;
  font-weight: bold;
  font-size: 10px;
  height: 50px;
  line-height: 40px;
  list-style-type: "\1F44D";
  list-style-position: inside;
  margin-top: 10px;
  padding : 5px;
  text-align: center;
  width: auto;
}

.recipe-item {
  background: tomato;
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
  padding : 5px;
  text-align: center;
}

nav {
  background: #a5dd65;
  justify-content: space-evenly;
  margin: 0;
  text-align: center;
  }
nav a {
  color: #1d631d;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  text-decoration: none;
  }
nav a:hover {
  color: white;
  } 

#badge {
  border: 2px solid blue; 
  text-align: center;
  width: 200px;
 
}

#info {
  background-color: #fff;
  height: 160px;
  margin: 20px;
  padding: 20px;
  width: 660px;
  
}